---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: headscale
  namespace: "{{ HEADSCALE_NAMESPACE }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: headscale
  template:
    metadata:
      labels:
        app: headscale
    spec:
      containers:
        - name: headscale
          image: "headscale:latest"
          imagePullPolicy: IfNotPresent
          command: ["/go/bin/headscale", "serve"]
          env:
            - name: SERVER_URL
              value: "{{ HEADSCALE_PROTO }}://{{ HEADSCALE_HOSTNAME }}"
            - name: LISTEN_ADDR
              valueFrom:
                configMapKeyRef:
                  name: headscale-config
                  key: listen_addr
            - name: DERP_MAP_PATH
              value: /vol/config/derp.yaml
            - name: EPHEMERAL_NODE_INACTIVITY_TIMEOUT
              valueFrom:
                configMapKeyRef:
                  name: headscale-config
                  key: ephemeral_node_inactivity_timeout
            - name: DB_TYPE
              value: postgres
            - name: DB_HOST
              value: "{{ HEADSCALE_POSTGRES_HOST }}"
            - name: DB_PORT
              value: "5432"
            - name: DB_USER
              value: "{{ HEADSCALE_POSTGRES_USER }}"
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: headscale
                  key: postgres-password
            - name: DB_NAME
              value: "{{ HEADSCALE_POSTGRES_DB }}"
          ports:
            - name: http
              protocol: TCP
              containerPort: 8080
          livenessProbe:
            tcpSocket:
              port: http
            initialDelaySeconds: 30
            timeoutSeconds: 5
            periodSeconds: 15
          volumeMounts:
            - name: config
              mountPath: /vol/config
            - name: secret
              mountPath: /vol/secret
            - name: etc
              mountPath: /etc/headscale
        - name: cloud-sql-proxy
          # It is recommended to use the latest version of the Cloud SQL proxy
          # Make sure to update on a regular schedule!
          image: gcr.io/cloudsql-docker/gce-proxy:1.17
          command:
            - "/cloud_sql_proxy"

            # If connecting from a VPC-native GKE cluster, you can use the
            # following flag to have the proxy connect over private IP
            # - "-ip_address_types=PRIVATE"

            # Replace DB_PORT with the port the proxy should listen on
            # Defaults: MySQL: 3306, Postgres: 5432, SQLServer: 1433
            - "-instances=print-nanny:us-central1:print-nanny=tcp:5432"
          securityContext:
            # The default Cloud SQL proxy image runs as the
            # "nonroot" user and group (uid: 65532) by default.
            runAsNonRoot: true
          ports:
            - containerPort: 5432
      volumes:
        - name: config
          configMap:
            name: headscale-site
        - name: etc
          configMap:
            name: headscale-etc
        - name: secret
          secret:
            secretName: headscale
