---
apiVersion: v1
kind: Secret
metadata:
  name: headscale
  namespace: "{{ HEADSCALE_NAMESPACE }}"
data:
  private-key: "{{ WIREGUARD_PRIVATE_KEY | b64encode }}"
  postgres-password: "{{ HEADSCALE_POSTGRES_PASSWORD | b64encode }}"
