---
apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  namespace: "{{ HEADSCALE_NAMESPACE }}"
  name: "headscale-backend"
spec:
  customRequestHeaders:
    headers:
    - "X-Forwarded-Proto:https"
---
apiVersion: v1
kind: Service
metadata:
  namespace: "{{ HEADSCALE_NAMESPACE }}"
  name: headscale
  labels:
    app: headscale
  annotations:
    cloud.google.com/backend-config: '{"default": "headscale-backend"}'
spec:
  selector:
    app: headscale
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
---
apiVersion: networking.gke.io/v1beta1
kind: FrontendConfig
metadata:
  name: http-to-https
  namespace: "{{ HEADSCALE_NAMESPACE }}"
spec:
  redirectToHttps:
    enabled: true
    responseCodeName: MOVED_PERMANENTLY_DEFAULT